.box {
    border: 1px solid black;
    width: 500px;
    height: auto;
    text-align: center;
}

.item-img {
    width: 400px;
    height: auto;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}