.box {
    border: 1px solid black;
    width: 500px;
    height: auto;
    text-align: center;
}

.item-img {
    width: 400px;
    height: 400px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Win {
    border: 10px solid greenyellow;
}

.Lose {
    border: 10px solid red;
}

.Tie {
    border: 10px solid black;
}

